*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*font-family: sans-serif;*/
}
body{
  position:relative;
  height:auto;
  width: 100%;
  background-image: url(../assets/bg2.jpg);
  background-size:auto;
  overflow: scroll;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  background:linear-gradient(60deg,black,#EF5625,#FF104D, black);
  padding: 10px 14px;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 240px;
}


.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  opacity: 0;
  align-items: center;
  pointer-events: none;
}
.sidebar.active .logo_content .logo{
  opacity: 1;
    pointer-events: none;
}

.sidebar .logo_content .logo_name{
font-size: 15px;
font-weight: 400;
}

.sidebar #btn{
  position: absolute;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 50px;
  transform: translate(-50%);
  transition: 1s ease;

}
.sidebar.active #btn{
  height: 30px;
  width: 30px;
  
  left: 93%;
  top:15px;
}
.sidebar ul{
  margin-top: none;
}
.sidebar ul li a #ico{
  position: relative;
  align:center;
  left:-13%;
  top: auto;
  height: 40px;
  width: 40px;
  padding: 10px;
  transition: 0.5s ease;

}

.sidebar.active ul li a #ico{
  position: relative;
  left:-15%;
  /* top: auto;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 50px; */
  transition: 0.9s ease;
  transform: translate(-30%);
}

/* ........................................ */
.sidebar.active ul li :hover{
  border-radius: 5px;
  color: black;
  width: 180px;
  background-image: linear-gradient(90deg, white,transparent);
  background-repeat:no-repeat;
 transition:0.5s ease;
}

.sidebar ul li :hover{
  border-radius: 10px;
  width: 35px;
  background-image: radial-gradient(orange,red,black);
  box-shadow: 1px 1px 10px orange;
}

.sidebar .link_name{
opacity: 0;
}

.sidebar.active .link_name{
  opacity: 1;
}

.sidebar.active ul li  {
  position: relative;
  height: 50px;
  left: 15%;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 40px;
  opacity: 1;
}

.sidebar ul li a{
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar ul li {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
}
/* ............................ */





 .sidebar .r1{
     position: relative;
        overflow: hidden;
background: rgba(0,0,0,0.5);
    border-radius: 20px;
    box-shadow: 1px 1px 10px #EF5625;
    border-spacing: 20px 20px;
        pointer-events:auto;
    }

    .r1:before{

  content:'';

  position: absolute;
  height:600px;
  width:50px;
  background-image:linear-gradient(-20deg, #f3f3f3,white,#f3f3f3);
  filter: blur(1px);
  opacity:0.4;
  top: -60px;
  transition: 0.7s;
transform: rotate(-20deg) translateX(-190px);
}
.r1:hover:before{
    width:70px;
transform: rotate(-20deg) translate(240px,70px);
}



 .sidebar .r2{
     position: relative;
        overflow: hidden;
background: rgba(0,0,0,0.5);
    border-radius: 20px;
    box-shadow: 1px 1px 10px #EF5625;
    border-spacing: 20px 20px;
        pointer-events:auto;
    }

    .r2:before{

  content:'';

  position: absolute;
  height:600px;
  width:50px;
  background-image:linear-gradient(-20deg, #f3f3f3,white,#f3f3f3);
  filter: blur(1px);
  opacity:0.4;
  top: -60px;
  transition: 0.7s;
transform: rotate(-20deg) translateX(-190px);
}
.r2:hover:before{
    width:70px;
transform: rotate(-20deg) translate(240px,70px);
}


 .sidebar .r3{
     position: relative;
        overflow: hidden;
background: rgba(0,0,0,0.5);
    border-radius: 20px;
    box-shadow: 1px 1px 10px #EF5625;
    border-spacing: 20px 20px;
        pointer-events:auto;
    }

    .r3:before{

  content:'';

  position: absolute;
  height:600px;
  width:50px;
  background-image:linear-gradient(-20deg, #f3f3f3,white,#f3f3f3);
  filter: blur(1px);
  opacity:0.4;
  top: -60px;
  transition: 0.7s;
transform: rotate(-20deg) translateX(-190px);
}
.r3:hover:before{
    width:70px;
transform: rotate(-20deg) translate(240px,70px);
}
.sidebar .autodata{
    display:block;
    background:rgba(0,0,0,0.5);
    position:absolute;top:0%; left:100%;color: white;width:300vh; height:100vh;padding:5px 5px; overflow:scroll;
    
}


.sidebar .home{
    background:linear-gradient(90deg,#EF5625,#FF104D,transparent);overflow:hidden;
}
.sidebar .clr{

    overflow:hidden;
    border: solid black;
    
}
 
